@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;600;700;800;900&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
    margin-inline: 10px;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.ms_title_font {
    font-family: 'Playfair Display', serif;
}